
<div class="main-page">
  <a href="/learn">
    <button class="learn-button">TEACH</button>
  </a>
  <section class="chat">
    <% @chats.each do |c| %>
      <% if c.chat_type == "bot" %>
          <text align="left">
            <div class="text"><%= c.chat_content %></div><br>
          </text>
      <% else %>
          <text align="right">
            <div class="text"><%= c.chat_content %></div><br>
          </text>
      <% end %>
    <% end %>
  </section>
  <%= form_tag '/talker', method: 'post', class: "chat-form" do %>
    <input type="text" placeholder="입력..." name="ask">
    <input type="submit" value="전송">
  <% end %>
</div>